 .card {
            height: 100%;
        }

        .card img {
            height: 240px;
            object-fit: cover;
        }
        .btn 
        {
            background-color: rgb(38, 45, 45);
            color: white;
            width: 120px;
            border-radius: 10px;
        }
        .btn:hover
        {
           background: linear-gradient(to right, #667eea, #764ba2); 
            color:white;

        }
